.footer{
    width: 100%;
    max-width: 1024px;
    font-size: smaller;
}

.fLists{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem ;
  
}

.fList{
      list-style-type: none;
      color: #003580;
}

.fListItem{
    margin-bottom: 1rem;
    cursor: pointer;
}